*
{
	padding: 0;
	margin: 0;
	border-spacing: 0;
	font-family: 'Poppins', sans-serif;
}

@font-face 
{
    font-family: Rubik;
    src: url('fuentes/RubikGlitch-Regular.ttf');
}

@font-face 
{
    font-family: RubikMoonrocks;
    src: url('fuentes/RubikMoonrocks-Regular.ttf');
}

@font-face 
{
    font-family: BebasNeue;
    src: url('fuentes/BebasNeue-Regular.ttf');
}

.header
{
    overflow: hidden;
}


/*------------imagen de fondo------------*/

.header .img
{
    height: 100%;
    background: url(imagenes/laptop-2557468_1920.jpg);
    background-size:cover;
    background-position: 0 70%;
    filter: contrast(100%) brightness(50%);
    z-index: 0;
    overflow: hidden;

}







/*------------titulo de cabecera------------*/

.header .title
{
    position: absolute;
    z-index: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}







/*------------logo de cabecera------------*/

.header .logo
{
    position: absolute;
    z-index: 1;
    color: #fff;
    display: flex;
    padding: 10px;

}

.header .logo ion-icon
{
    font-size: 25px;
}

.header .logo h4
{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 3px solid #fff;
}






/**
 *
 * naveacion de la cabecera
 *
 */



.header .nav
{
    position: absolute;
    right: 0px;
    z-index: 1;
}

.header .nav ul
{
    display: flex;
}

.header .nav ul li
{
    list-style: none;
}

.header .nav ul li a
{
    display: inline-flex;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}

.header .nav li ion-icon
{
    display: none;
}







/**
 *
 * desarrollo-web
 *
 */



.desarrollo-web
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:100%;
    align-items: center;
    background: url(imagenes/fondos/c6f81468e5c97ca8ac0a326cb6e2c55d-fondo-de-puntos-de-color-abstracto.jpg);
    background-size: cover;
    padding: 50px;
}


.desarrollo-web .experiencia
{
    display: flex;
    justify-content: right;
    padding: 40px;
    text-align: center;

}

.desarrollo-web .experiencia .html5 h4
{
    display: block;
    padding: 10px;
    border-radius: 20px;
    background: #63C553;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}

.desarrollo-web .experiencia .html5 h4:hover
{
    background: gold;
}


.desarrollo-web .img .contenedor
{
    border-radius: 15px;
    width: 650px;
    height: 500px;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, .5);
    overflow: hidden;
    margin-bottom: 40px;
}

.desarrollo-web .img .contenedor h2
{
    text-align: center;
    padding: 5px;
    color: #fff;
    background: #262B46;
    transition: .3s;

}

.desarrollo-web .img .contenedor .carril
{
    display: flex;
    transform: translateX(0px);
    transition: .5s;
}

.desarrollo-web .img .contenedor .carril img
{
    width: 650px;
    height: 550px;
}


/**
 *
 * diseño integral
 *
 */

.integral-desing
{
    background: linear-gradient(#E1E1E1,#FFFFFF);
    /*padding: 20px;*/
}

.integral-desing .info
{
    text-align: center;
}

.integral-desing .info h1
{
    font-family: Rubik;
   /* font-size: 60px;*/
    font-weight: 300;
    padding: 15px;
    
}

.integral-desing .info a
{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    background: gold;
    margin-top: 20px;
    width: 300px;
}



.integral-desing .img
{
    display: flex;
    justify-content: center;

}

.integral-desing .img img
{
    width: 50%;
}




/**
 *
 * contenido interactivo
 *
 */

.con-inter .container h1
{
    color: #fff;
    font-family: BebasNeue;
    text-align: center;
    background: url(imagenes/fondos/af469a61917ab9d9ead72b75bdc94d2cc2b70521_00.gif);
    padding: 40px;
}

.pro-1
{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
}

.pro-1 .loader
{
    position: relative;
    display: flex;
    
}

.pro-1 .loader span
{
    width: 50px;
    height: 300px;
    margin: 0 20px;
    background: #2196f3;
    animation: animate 1.4s linear infinite;
}

.pro-1 .loader span:nth-child(1)
{
    animation-delay: 0s;
}
.pro-1 .loader span:nth-child(2)
{
    animation-delay: 0.2s;
}
.pro-1 .loader span:nth-child(3)
{
    animation-delay: 0.4s;
}
.pro-1 .loader span:nth-child(4)
{
    animation-delay: 0.6s;
}
.pro-1 .loader span:nth-child(5)
{
    animation-delay: 0.8s;
}
.pro-1 .loader span:nth-child(6)
{
    animation-delay: 1s;
}
.pro-1 .loader span:nth-child(7)
{
    animation-delay: 1.2s;
}

@keyframes animate 
{
    0%
    {
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translateX(-50px) scale(1.0);
    }
    50%
    {
        box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100%
    {
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translateX(50px) scale(1.0);
    }

    
}




.pro-2
{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #001f25;
}

.pro-2 .loader
{
    position: relative;
    width: 300px;
    height: 300px;
}

.pro-2 .loader span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(36deg * var(--i)));
}

.pro-2 .loader span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00efff;
    border: 4px solid #00efff;
    box-sizing: border-box;
    box-shadow: 0 0 20px #00efff,
    -30px -30px 0px #00efff,
    -30px -30px 20px #00efff,
    30px 30px 0px #00efff,
    30px 30px 20px #00efff,
    30px -30px 0px #00efff,
    30px -30px 20px #00efff,
    -30px 30px 0px #00efff,
    -30px 30px 20px #00efff;
    animation: animate2 5s linear infinite;
    /*animation-delay: calc(-0.02s * var(--i));*/
    transform-origin: 20px;
}

@keyframes animate2 
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
        box-shadow: 0 0 20px #00efff,
        -200px -200px 0px #00efff,
        -200px -200px 20px #00efff,
        200px 200px 0px #00efff,
        200px 200px 20px #00efff,
        200px -200px 0px #00efff,
        200px -200px 20px #00efff,
        -200px 200px 0px #00efff,
        -200px 200px 20px #00efff;
        transform-origin: 250px;
    }
    10%
    {
        transform: rotate(36deg);
        filter: hue-rotate(36deg);
        box-shadow: 0 0 20px #00efff,
        -200px -200px 0px #00efff,
        -200px -200px 20px #00efff,
        200px 200px 0px #00efff,
        200px 200px 20px #00efff,
        200px -200px 0px #00efff,
        200px -200px 20px #00efff,
        -200px 200px 0px #00efff,
        -200px 200px 20px #00efff;
        transform-origin: 250px;
    }
    20%
    {
        transform: rotate(72deg);
        filter: hue-rotate(72deg);
        box-shadow: 0 0 20px #00efff,
        -133px -133px 0px #00efff,
        -133px -133px 20px #00efff,
        133px 133px 0px #00efff,
        133px 133px 20px #00efff,
        133px -133px 0px #00efff,
        133px -133px 20px #00efff,
        -133px 133px 0px #00efff,
        -133px 133px 20px #00efff;
        transform-origin: 167px;
    }
    30%
    {
        transform: rotate(108deg);
        filter: hue-rotate(108deg);
        box-shadow: 0 0 20px #00efff,
        -66px -66px 0px #00efff,
        -66px -66px 20px #00efff,
        66px 66px 0px #00efff,
        66px 66px 20px #00efff,
        66px -66px 0px #00efff,
        66px -66px 20px #00efff,
        -66px 66px 0px #00efff,
        -66px 66px 20px #00efff;
        transform-origin: 84px;
    }
    40%
    {
        transform: rotate(144deg);
        filter: hue-rotate(144deg);
        box-shadow: 0 0 20px #00efff,
        -30px -30px 0px #00efff,
        -30px -30px 20px #00efff,
        30px 30px 0px #00efff,
        30px 30px 20px #00efff,
        30px -30px 0px #00efff,
        30px -30px 20px #00efff,
        -30px 30px 0px #00efff,
        -30px 30px 20px #00efff;
        transform-origin: 20px;
    }
    50%
    {
        transform: rotate(180deg);
        filter: hue-rotate(180deg);
        box-shadow: 0 0 20px #00efff,
        -30px -30px 0px #00efff,
        -30px -30px 20px #00efff,
        30px 30px 0px #00efff,
        30px 30px 20px #00efff,
        30px -30px 0px #00efff,
        30px -30px 20px #00efff,
        -30px 30px 0px #00efff,
        -30px 30px 20px #00efff;
        transform-origin: 20px;
    }
    60%
    {
        transform: rotate(216deg);
        filter: hue-rotate(216deg);
        box-shadow: 0 0 20px #00efff,
        -30px -30px 0px #00efff,
        -30px -30px 20px #00efff,
        30px 30px 0px #00efff,
        30px 30px 20px #00efff,
        30px -30px 0px #00efff,
        30px -30px 20px #00efff,
        -30px 30px 0px #00efff,
        -30px 30px 20px #00efff;
        transform-origin: 20px;
    }
    70%
    {
        transform: rotate(252deg);
        filter: hue-rotate(252deg);
        box-shadow: 0 0 20px #00efff,
        -66px -66px 0px #00efff,
        -66px -66px 20px #00efff,
        66px 66px 0px #00efff,
        66px 66px 20px #00efff,
        66px -66px 0px #00efff,
        66px -66px 20px #00efff,
        -66px 66px 0px #00efff,
        -66px 66px 20px #00efff;
        transform-origin: 84px;
    }
    80%
    {
        transform: rotate(288deg);
        filter: hue-rotate(288deg);
        box-shadow: 0 0 20px #00efff,
        -133px -133px 0px #00efff,
        -133px -133px 20px #00efff,
        133px 133px 0px #00efff,
        133px 133px 20px #00efff,
        133px -133px 0px #00efff,
        133px -133px 20px #00efff,
        -133px 133px 0px #00efff,
        -133px 133px 20px #00efff;
        transform-origin: 167px;
        
    }
    90%
    {
        transform: rotate(324deg);
        box-shadow: 0 0 20px #00efff,
        -200px -200px 0px #00efff,
        -200px -200px 20px #00efff,
        200px 200px 0px #00efff,
        200px 200px 20px #00efff,
        200px -200px 0px #00efff,
        200px -200px 20px #00efff,
        -200px 200px 0px #00efff,
        -200px 200px 20px #00efff;
        transform-origin: 250px;    

    }
    100%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
        box-shadow: 0 0 20px #00efff,
        -200px -200px 0px #00efff,
        -200px -200px 20px #00efff,
        200px 200px 0px #00efff,
        200px 200px 20px #00efff,
        200px -200px 0px #00efff,
        200px -200px 20px #00efff,
        -200px 200px 0px #00efff,
        -200px 200px 20px #00efff;
        transform-origin: 250px;
    }   
}




/**
 *
 * angular
 *
 */


.angular
{
    background: radial-gradient(#FFFFFF,#AFA8F6);
}

.angular h1
{
    text-align: center;
    padding: 20px;
    font-weight: 900;
}
.angular .title
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}

.angular .title div img
{
    width: 50%;
}

.angular .title div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.angular .title h1
{
    text-align: center;
}





.marcas 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.marcas img
{
    width: 150px;
}





.footer a
{
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.footer li
{
    list-style: none;
}

.footer
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: #3E4354;
    color: #fff;
    padding: 40px;
}

.footer .info
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer .info .politicas
{
    display: flex;
    justify-content: center;
}

.footer .info .links
{
    display: flex;
    justify-content: center;
}
.footer .info .links ul li:nth-child(1)
{
    margin-bottom: 15px;
}
.footer .copyright
{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

.footer .copyright h4
{
    padding: 20px;
    border-top: 1px solid #fff;
}


.info-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-logo .logo
{
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    display: flex;
    padding: 10px;
    height: 30px;
}

.info-logo .logo h4
{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 3px solid #fff;
}

.info-logo .logo ion-icon
{
    font-size: 25px;
}




/*============================================
=            dispositivos moviles            =
============================================*/


@media only screen and (max-width: 700px)
{








/**
 *
 * logo de la cabecera
 *
 */


.header .logo
{
    left: 50%;
    transform: translateX(-50%);

}  





/**
 *
 * naveacion de la cabecera
 *
 */

.header .nav ul
{
    margin-top: 50px;
    display: block;
}

.header .nav ul li
{
    list-style: none;
}

.header .nav ul li a
{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: .3s;
}

.header .nav ul li a:hover
{
    background: gold;
}


.header .nav li ion-icon
{
    display: initial;
    top: 0;
    right: 0;
    position: fixed;
    background: #262B46;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}

.header .nav
{
    padding: 0;
    position: fixed;
    right: -50%;
    z-index: 2;
    width: 50%;
    height: 100%;
    background: #262B46;
    text-align: center;
    transition: .5s;
}




/**
 *
 * desarrollo-web
 *
 */



.desarrollo-web
{
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 0;
}

.desarrollo-web .experiencia
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.desarrollo-web .img
{
    display: flex;
    justify-content: center;
}

.desarrollo-web .img .contenedor
{
    border-radius: 15px;
    width: 350px;
    height: 300px;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.desarrollo-web .img .contenedor .carril
{
    display: flex;
    transform: translateX(0px);
    transition: .5s;
}

.desarrollo-web .img .contenedor .carril img
{
    width: 350px;
    height: 300px;
}



/**
 *
 * diseño integral
 *
 */

.integral-desing .img img
{
    width: 100%;
}




.pro-1 .loader span
{
    width: 20px;
    height: 150px;
    margin: 0 10px;
    background: #2196f3;
    animation: animate 1.4s linear infinite;
}

@keyframes animate 
{
    0%
    {
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translateX(-10px) scale(1.0);
    }
    50%
    {
        box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100%
    {
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translateX(10px) scale(1.0);
    }

    
}



.angular .title
{
    display: grid;
    grid-template-rows: 1fr auto;
    /*justify-content: center;
    align-items: center;*/
    padding: 40px;
    
}

.angular .title div img
{
    margin-left: 25%;
    width: 50%;
}

.angular .title div
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    /*justify-content: center;
    align-items: center;*/
}

.angular .title h1
{
    text-align: center;
}




.marcas 
{
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
}

.marcas img
{
    width: 100px;
}

.footer
{
    display: block;
}

.footer .info
{
    display: block;
    
}

.footer .info-logo
{
    padding: 20px;
}

.footer .info-logo .logo
{
    height: 45px;
}

}
/*=====  End of dispositivos moviles  ======*/